# Puerto del servidor
PORT=4000

# Clave secreta para firmar los tokens JWT
JWT_SECRET=cambia_esta_clave_secreta_2026
JWT_EXPIRES=7d

# Origen permitido para CORS (frontend)
CORS_ORIGIN=http://localhost:5173

# API de thesportsdb (clave gratuita de pruebas: 123)
API_SPORTSDB_URL=https://www.thesportsdb.com/api/v1/json
API_SPORTSDB_KEY=123
